@charset "UTF-8";
/*
* Банер
**************************/
.wrap-banner {
  width: 100%;
  height: 5rem; }
  .wrap-banner .banner {
    width: 100%;
    height: 100%;
    max-width: 1050px; }

/*
* Лого
**************************/
.wrap-logo {
  width: 100%;
  height: 3rem;
  padding-bottom: 5rem;
  background: rgba(10, 10, 10, 0.7); }
  .wrap-logo .logo {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1050px;
    text-align: center; }
    .wrap-logo .logo a {
      display: block;
      margin: 0 auto;
      text-decoration: none;
      color: #cecece;
      font-family: 'Saira Extra Condensed', sans-serif;
      font-size: 2.5rem;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .wrap-logo .logo span {
      font-family: 'Oswald', sans-serif;
      color: #cecece;
      font-size: .8rem;
      letter-spacing: 1px; }

/*
* Меню
**************************/
.wrap-menu {
  width: 100%;
  height: auto;
  background: rgba(10, 10, 10, 0.7);
  padding-bottom: 2rem;
  margin-bottom: 3rem; }
  .wrap-menu .menu {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1050px; }
    .wrap-menu .menu ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .wrap-menu .menu ul li {
        display: inline-block;
        list-style: none;
        margin: .5rem;
        width: auto;
        height: auto;
        background: rgba(40, 40, 40, 0.38);
        border-radius: 5px;
        text-align: center; }
        .wrap-menu .menu ul li a {
          display: inline-block;
          text-decoration: none;
          color: #cecece;
          font-family: 'Oswald', sans-serif;
          text-align: center;
          border-radius: 3px;
          padding: .5rem;
          transition: bacground, color .08s;
          font-size: 1.2rem; }
          .wrap-menu .menu ul li a:hover {
            transition: bacground, color .08s;
            background: rgba(255, 255, 255, 0.8);
            color: #201d2a; }

/*
* Слайдер
**************************/
.wrap-slide {
  width: 100%;
  height: auto;
  padding-bottom: 5rem; }
  .wrap-slide .slide {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1050px;
    text-align: center; }
    .wrap-slide .slide h1 {
      color: #cecece;
      font-family: 'Oswald', sans-serif;
      margin-bottom: 3rem; }
    .wrap-slide .slide .sl {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 1036px;
      max-height: 336px; }
      .wrap-slide .slide .sl .sl__slide {
        position: relative; }
        .wrap-slide .slide .sl .sl__slide img {
          max-width: 100%;
          height: auto; }
        .wrap-slide .slide .sl .sl__slide .sl__text {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: rgba(10, 10, 10, 0.7);
          color: #cecece;
          text-align: left; }
          .wrap-slide .slide .sl .sl__slide .sl__text h3 {
            font-family: 'Oswald', sans-serif;
            padding: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px; }
          .wrap-slide .slide .sl .sl__slide .sl__text p {
            font-family: 'Vollkorn', serif;
            padding: 0 1rem 1rem 1rem; }

/*
* Стили для точек под слайдером
********************************/
.slick-dots li button {
  border: 2px solid #777;
  border-radius: 50%;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.2);
  transition: border-color .3s; }
  .slick-dots li button:before {
    contetn: '';
    width: 10px;
    height: 10px;
    background: #777;
    opacity: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    transition: background .3s; }

/*Редактирую точки по умолчанию*/
.slick-dots li button:hover,
.slick-dots li.slick-active button {
  border-color: #fff; }

.slick-dots li button:hover:before,
.slick-dots li .slick-active button:before {
  background: #fff; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: transparent; }

.slick-dots li button:before {
  color: transparent; }

/*
* 3 блока возможностей
********************************/
.wrap_opportunity {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 3rem; }
  .wrap_opportunity .opportunity {
    width: 100%;
    height: 3rem;
    padding-bottom: 5rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1050px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #cecece; }
    .wrap_opportunity .opportunity .opportunity__one {
      display: inline-block;
      width: 300px;
      height: 350px;
      margin: 1rem;
      text-align: center;
      background: rgba(10, 10, 10, 0.7);
      position: relative;
      border-radius: 5px; }
      .wrap_opportunity .opportunity .opportunity__one:hover .opportunity__img1 .opportunity__ton {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
        transform: translateY(150px);
        transition: all .3s; }
      .wrap_opportunity .opportunity .opportunity__one .opportunity__img1 {
        width: 280px;
        height: 232px;
        margin: 10px auto;
        background: url("../img/o_1.jpg") center center no-repeat no-repeat;
        background-size: cover;
        overflow: hidden; }
        .wrap_opportunity .opportunity .opportunity__one .opportunity__img1 .opportunity__ton {
          width: 100%;
          height: 44px;
          opacity: 0;
          transform-origin: 90% 90%;
          transform: translateY(-100%);
          transition: all .3s;
          text-align: left;
          text-indent: 1rem;
          line-height: 44px; }
          .wrap_opportunity .opportunity .opportunity__one .opportunity__img1 .opportunity__ton strong {
            font-family: 'Oswald', sans-serif;
            letter-spacing: 2px; }
      .wrap_opportunity .opportunity .opportunity__one p {
        padding: 10px;
        text-align: left; }
      .wrap_opportunity .opportunity .opportunity__one a {
        display: inline-block;
        background: #fff;
        width: 120px;
        height: 30px;
        color: #201d2a;
        line-height: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 15px 0 0 0; }
        .wrap_opportunity .opportunity .opportunity__one a:hover {
          background: #cdcdcd; }
    .wrap_opportunity .opportunity .opportunity__two {
      display: inline-block;
      width: 300px;
      height: 350px;
      margin: 1rem;
      text-align: center;
      background: rgba(10, 10, 10, 0.7);
      position: relative;
      border-radius: 5px; }
      .wrap_opportunity .opportunity .opportunity__two:hover .opportunity__img2 .opportunity__ton {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
        transform: translateY(150px);
        transition: all .3s; }
      .wrap_opportunity .opportunity .opportunity__two .opportunity__img2 {
        width: 280px;
        height: 232px;
        margin: 10px auto;
        background: url("../img/o_2.jpg") center center no-repeat no-repeat;
        background-size: cover;
        overflow: hidden; }
        .wrap_opportunity .opportunity .opportunity__two .opportunity__img2 .opportunity__ton {
          width: 100%;
          height: 44px;
          opacity: 0;
          transform-origin: 90% 90%;
          transform: translateY(-100%);
          transition: all .3s;
          text-align: left;
          text-indent: 1rem;
          line-height: 44px; }
          .wrap_opportunity .opportunity .opportunity__two .opportunity__img2 .opportunity__ton strong {
            font-family: 'Oswald', sans-serif;
            letter-spacing: 2px; }
      .wrap_opportunity .opportunity .opportunity__two p {
        padding: 10px;
        text-align: left; }
      .wrap_opportunity .opportunity .opportunity__two a {
        display: inline-block;
        background: #fff;
        width: 120px;
        height: 30px;
        color: #201d2a;
        line-height: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 15px 0 0 0; }
        .wrap_opportunity .opportunity .opportunity__two a:hover {
          background: #cdcdcd; }
    .wrap_opportunity .opportunity .opportunity__three {
      display: inline-block;
      width: 300px;
      height: 350px;
      margin: 1rem;
      text-align: center;
      background: rgba(10, 10, 10, 0.7);
      position: relative;
      border-radius: 5px; }
      .wrap_opportunity .opportunity .opportunity__three:hover .opportunity__img3 .opportunity__ton {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
        transform: translateY(150px);
        transition: all .3s; }
      .wrap_opportunity .opportunity .opportunity__three .opportunity__img3 {
        width: 280px;
        height: 232px;
        margin: 10px auto;
        background: url("../img/o_3.jpg") center center no-repeat no-repeat;
        background-size: cover;
        overflow: hidden; }
        .wrap_opportunity .opportunity .opportunity__three .opportunity__img3 .opportunity__ton {
          width: 100%;
          height: 44px;
          opacity: 0;
          transform-origin: 0% 90%;
          transform: translateY(-100%);
          transition: all .3s;
          text-align: left;
          text-indent: 1rem;
          line-height: 44px; }
          .wrap_opportunity .opportunity .opportunity__three .opportunity__img3 .opportunity__ton strong {
            font-family: 'Oswald', sans-serif;
            letter-spacing: 2px; }
      .wrap_opportunity .opportunity .opportunity__three p {
        padding: 10px;
        text-align: left; }
      .wrap_opportunity .opportunity .opportunity__three a {
        display: inline-block;
        background: #fff;
        width: 120px;
        height: 30px;
        color: #201d2a;
        line-height: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 15px 0 0 0; }
        .wrap_opportunity .opportunity .opportunity__three a:hover {
          background: #cdcdcd; }

/*
* Блоки Информации
********************************/
.wrap_info {
  height: auto;
  width: 100%; }
  .wrap_info .info {
    margin: 2rem auto;
    width: 100%;
    height: 100%;
    max-width: 1050px;
    color: #cecece;
    background: rgba(10, 10, 10, 0.7);
    position: relative;
    text-align: center; }
    .wrap_info .info .fa-bookmark-o {
      position: absolute;
      top: -5px;
      left: 2rem;
      font-size: 2.5rem; }
    .wrap_info .info .fa-bullhorn {
      font-size: 2rem;
      padding: 1rem 0; }
    .wrap_info .info .fa-users {
      font-size: 2rem;
      padding: 1rem 0; }
    .wrap_info .info .info__head {
      padding-top: 2rem;
      margin-left: 1rem;
      padding-bottom: .5rem;
      font-family: 'Oswald', sans-serif;
      text-align: left; }
    .wrap_info .info .info__wrapContent {
      width: 100%;
      height: auto; }
      .wrap_info .info .info__wrapContent .info__content {
        text-indent: 1rem;
        padding: 1rem;
        text-align: left; }
    .wrap_info .info .info__qtyComment {
      display: inline-block;
      border-radius: 0 0 0 5px;
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(195, 195, 195, 0.5);
      padding: .2rem .4rem; }
      .wrap_info .info .info__qtyComment a {
        text-decoration: none;
        color: #cecece; }
    .wrap_info .info .info__date {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 5px 0 0 0;
      background: rgba(74, 74, 74, 0.5);
      font-size: .7rem;
      padding: .2rem .4rem;
      color: aliceblue; }

/*
* Footer
********************************/
.wrap-footer {
  width: 100%;
  background: rgba(10, 10, 10, 0.7);
  position: relative; }
  .wrap-footer footer {
    display: block;
    margin: 2rem auto 0;
    width: 100%;
    height: 100%;
    max-width: 1050px;
    color: #cecece;
    height: 7rem;
    text-align: center;
    line-height: 7rem; }
    .wrap-footer footer h5 a {
      text-decoration: none;
      color: #cecece; }
  .wrap-footer .fa-angle-up {
    position: absolute;
    right: 5%;
    bottom: 35%;
    color: #cecece;
    font-size: 2rem; }
