@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/**/

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/**/

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	a.card-wide{
		display: none;
	}
}

/**/
section.plan {
	.plann {
		p.plann__txt {
			font-family: "Segoe UI";
			font-size: 20px;
			font-weight: normal;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	section.plan {
		.plann {
			p.plann__txt {
				font-family: "Segoe UI";
				font-size: 16px;
				font-weight: normal;
			}
		}

	}

	.bg-gloves {
		height:200px;
		.box__gloves {
			height: 130px;
			max-width: 100%;
		}
	}
	.top_container{
		.head__menu{

			.main__contacts{
				font-size:1em;
				margin-top:120px;
			}
		}
	}
	.main_bg{
		margin-top:100px;
	}
}

#logo {
	display: block;
	position: absolute;
	top: 24vh;
	left: 50%;
	height: 360px;
	margin-left: -170px;
	max-width: 100%;
	background: url("../img/logo.png");
	background-repeat:no-repeat;
	-webkit-background-size:contain;
	background-size:contain;
	//padding:10px;
	//margin-top:-200.5px;
	.inner__text {
		color: #fff;
		font-family: "Segoe UI light";
		font-size: 21.5px;
		line-height: 1.1;
		max-width: 300px;
		padding-left: 15px;
		padding-top: 18em;
		text-align: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/**/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/**/

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}



/**/

