@mixin clear-fix{
	&:after, &:before {
		display: table;
		content: '';
	}
	&:after{
		clear: both;
	}
}


@mixin place-holder{
	&::-webkit-input-placeholder{
		color: #9fa3a7;
	};
	&:-moz-placeholder{
		color: #9fa3a7;
	}
	&::-moz-placeholder{
		color: #9fa3a7;
	}
	&:-ms-input-placeholder{
		color: #9fa3a7;
	};
}
@mixin svgtoblack_beforestart{
	font-size: 16px;
	right:-3.5em;
	top:-1em;
	fill: $svg-color;
	stroke: $svg-color;
	stroke-width: 0;
}

@mixin svg2toblack_beforestart{
	font-size: 32px;
	color: $svg-color;
	margin: 0em 0.6em;
	right:-3.5em;
	fill: $svg-color;
	stroke: $svg-color;
	stroke-width: 0;
}
@mixin svgtoblack{
	margin:0em 0.6em!important;
	right:-0.2em!important;
	fill: black!important;
	stroke: black!important;
	stroke-width: 0;
	transition: all 0.5s ease-in-out!important;
}
@mixin svgtoblack_inverse{
	font-size: 16px;
	//margin: -1.0em 2.0em;
	//top:-1em;
	margin: 0em 0.6em;
	right:-3.5em;
	fill: $svg-color;
	stroke: $svg-color;
	stroke-width: 0;
	transition:  all 0.5s ease-in-out;
}

@mixin svg2toblack{
	color: #000000;
	margin: -1.0em 0.6em;
	fill: black;
	stroke: black;
	stroke-width: 0;
	-webkit-transition-property: fill,stroke, right;
	-moz-transition-property: fill,stroke, right;
	-ms-transition-property: fill,stroke, right;
	-o-transition-property: fill,stroke, right;
	transition-property: fill,stroke, right;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition:  0.5s;
	-moz-transition:  0.5s;
	-ms-transition:  0.5s;
	-o-transition:  0.5s;
	transition:  0.5s;
}




@mixin helvetica($style : roman){
	@if $style == roman {
		font-family:HelveticaNeueCyr-Roman;
	}
	@if $style == medium {
		font-family:HelveticaNeueCyr-Medium;
	}
	@if $style == light {
		font-family:HelveticaNeueCyr-Light;
	}
}

@mixin yel-circle($x:0em, $y:0em){
	//padding-left: 1.375em;
	background-color: $color-yellow;
	border-radius: 50%;
	height: 5em;
	margin-left: 5em;
	position: relative;
	width: 5em;
	/*span{
		width:32px;
		height:32px;
	}*/
	/*&::before{
		content: '';
		position: absolute;
		background-image: url(/img/servises/services_sprite.png);
		background-repeat:no-repeat;
		width:3.81em;
		height:3.81em;
		background-position: $x $y;
	}*/
}
@mixin img_face{
	width:em(65px);
	height:em(65px);
	background-color: #fff;

	background-repeat:no-repeat;
	background-position: center;
	-webkit-background-size:cover;
	background-size:cover;
}

@mixin add-icon($icon, $w, $h){
	background-image: url($icon);
	background-repeat:no-repeat;

	-webkit-background-size:cover;
	background-size:cover;
	//background-position: 0 0;
	height:$h;
	width:$w;
	display: block;
}
@mixin icon($image){
	background-image: $image;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
}


