@import "fonts";
@import "libs";
@import "vars";
@import "mixins";
@import "styles";

*::-webkit-input-placeholder{
	color: #666;
	opacity: 1;
}

*:-moz-placeholder{
	color: #666;
	opacity: 1;
}
*::-moz-placeholder{
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
::-moz-selection {
	color: red;
	background-color: #fff;
}

::selection {
	color: red;
	background-color: #fff;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #d11010;
}
body input:focus:required:invalid::after{

}
body input:required:valid,
body textarea:required:valid
{
	color: #ffffff;
}
body input:required:focus:valid{

}
body {
	opacity: 1;
	overflow-x: hidden;
	background-color: #000;
}

html {
	background-color: #000;
}
html, body{
	height: 100%!important;
	width: 100% !important;
}
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

@import "media";

/* ------------   custom styles   ------------ */

