/*
@import "mixins/_font-face";

+font-face("roboto-example", "../fonts/RobotoRegular/RobotoRegular");
+font-face("roboto-example", "../fonts/RobotoBold/RobotoBold", bold);
*/
@import url(../fonts/robotocondensed.css);
/*
	Roboto Condensed, 300, 300 italic, 400, 400 italic, 700, 700 italic
*/
@import url(../fonts/roboto.css);
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/
@import url(../fonts/SegoeUI.css);
/* ------------   SegoeUI   ------------ */
@import url(../fonts/opensans.css);
/* ------------   open sans    ------------ */
@import url(../libs/bootstrap-grid/bootstrap-grid.css);
.main_bg {
  background: url("../img/main_bg.png") no-repeat;
  max-width: 100%;
  height: 1172px;
  display: block;
  -webkit-background-size: 100%;
  background-size: 100%; }

.bg {
  padding: 0;
  margin: 0;
  background-color: #000; }

#logo {
  display: block;
  position: absolute;
  top: 24vh;
  left: 50%;
  height: 401px;
  margin-left: -175px;
  max-width: 100%;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  padding: 10px; }
  #logo .inner__text {
    color: #fff;
    font-family: "Segoe UI light";
    font-size: 21.5px;
    line-height: 1.1;
    max-width: 300px;
    padding-left: 35px;
    padding-top: 18em;
    text-align: center; }

.top_container {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 10; }
  .top_container .head__menu ul.mnu {
    font-family: "Segoe UI semibold";
    font-size: 16.37px;
    margin: 3em 0 0;
    padding: 0;
    height: 1.01875em;
    width: 100%;
    background-color: transparent;
    list-style-type: none;
    border: none;
    text-align: justify; }
    .top_container .head__menu ul.mnu:after {
      content: '';
      width: 100%;
      height: 0;
      display: inline-block; }
    .top_container .head__menu ul.mnu li.mnu__item {
      display: inline-block;
      background-color: transparent;
      font-size: 1.01875em;
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      border-bottom: none; }
      .top_container .head__menu ul.mnu li.mnu__item .mnu__link {
        font-family: "Segoe UI semibold";
        font-weight: 400;
        font-style: normal;
        display: block;
        padding: 10px 10px 2px;
        color: #fff;
        text-decoration: none;
        outline: none; }
    .top_container .head__menu ul.mnu li.mnu__item:hover {
      transition-property: background-color;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      background-color: #d11010;
      border-bottom: 3px solid #d11010; }
      .top_container .head__menu ul.mnu li.mnu__item:hover .mnu__link:hover {
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-property: color, background-color;
        color: #fff; }
    .top_container .head__menu ul.mnu li.active {
      border-bottom: 3px solid #d11010; }
    .top_container .head__menu ul.mnu .active {
      border-bottom: 3px solid #d11010; }
  .top_container .head__menu .main__contacts {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-family: "Segoe UI semibold";
    font-size: 24px;
    float: right;
    background-color: #000;
    margin: 50px 0 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    border-bottom: 3px solid #000; }
    .top_container .head__menu .main__contacts:hover {
      transition-duration: 0.5s;
      background-color: #d11010;
      transition-timing-function: ease;
      transition-property: color, background-color;
      border-bottom: 3px solid #d11010;
      color: #fff; }
    .top_container .head__menu .main__contacts::before {
      background-image: url("../img/icons/icon_tel.png");
      background-position: left center;
      content: "";
      display: block;
      height: 53px;
      left: -45px;
      position: absolute;
      top: -5px;
      width: 31px; }

.aboutus {
  background-color: #000;
  /*background: radial-gradient(circle closest-side  at 0% 50%, #1e0909 0%, #1b0808 40%, #130606 83%, #0e0404 100%);*/
  /*	border-top: 1px green solid;
  	border-bottom: 1px green solid;*/
  height: 958px;
  width: 100%;
  position: relative;
  overflow: visible; }
  .aboutus .second {
    overflow: visible;
    z-index: 999; }
  .aboutus .about__text {
    border: 1px solid white;
    padding: 50px;
    margin-top: 70px;
    color: white;
    position: relative;
    z-index: 2; }
    .aboutus .about__text > h1 {
      font-family: "Segoe UI bold";
      font-size: 30px;
      padding: 0;
      margin: 0; }
    .aboutus .about__text p {
      font-family: "Segoe UI";
      font-size: 24px;
      font-weight: normal;
      padding: 0;
      line-height: 1;
      margin-top: 25px; }
  .aboutus .circle__gradient {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 600px;
    height: 1158px;
    background: radial-gradient(circle farthest-side at center left, #1e0909 0%, #1b0808 30%, #130606 60%, #0e0404 80%, black);
    overflow: visible; }

.bg-gloves {
  height: 958px;
  margin-bottom: -100px;
  padding-right: 0 !important; }
  .bg-gloves > .row {
    margin-right: 0 !important; }
  .bg-gloves .box__gloves {
    background-image: url("../img/other/costum.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 400px;
    margin-right: -15px;
    max-width: 100%;
    min-height: 100px;
    padding-right: 15px;
    position: relative;
    right: 0;
    top: -50vh; }

section.add-form {
  text-align: center;
  margin-bottom: 140px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  color: #fff; }

section.fights {
  height: auto;
  width: 100%;
  /*	border-top: 1px green solid;
  	border-bottom: 1px green solid;*/
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center; }
  section.fights .label1, section.fights .label2, section.fights .label3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Segoe UI";
    font-style: normal; }
    section.fights .label1 h2, section.fights .label2 h2, section.fights .label3 h2 {
      font-size: 20px;
      color: #fff;
      letter-spacing: 2px;
      font-family: "Segoe UI";
      font-style: normal; }
    section.fights .label1 a, section.fights .label2 a, section.fights .label3 a {
      font-size: 20px;
      color: #fff;
      letter-spacing: 2px;
      font-family: "Segoe UI";
      font-style: normal; }
      section.fights .label1 a:hover, section.fights .label2 a:hover, section.fights .label3 a:hover {
        color: #d11010;
        text-decoration: none; }
  section.fights .label1 h2 a {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Segoe UI";
    font-style: normal; }
    section.fights .label1 h2 a:hover {
      color: #d11010;
      text-decoration: none; }
  section.fights .label1 h2::before {
    content: '';
    position: relative;
    background-image: url("/wp-content/themes/fight/img/icons/show_other_icon.png");
    height: 17px;
    width: 21px;
    background-repeat: no-repeat;
    background-position: 0 1px;
    display: inline-block;
    cursor: pointer; }
  section.fights .label1 h1 {
    text-align: center;
    padding: 0 !important;
    font-size: 20px !important;
    font-family: "Segoe UI";
    font-style: normal; }

#searchform input[type=text] {
  width: 50%;
  height: 34px;
  font-size: 20px;
  color: #d11010;
  border-radius: 17px;
  padding-left: 10px; }
#searchform input[type=submit] {
  border: none;
  position: relative;
  background: transparent url("/wp-content/themes/fight/img/icons/search_icon.png") no-repeat scroll 0 -2px/cover;
  border: medium none;
  height: 25px;
  width: 25px;
  display: inline-block;
  overflow: visible; }

.fights .fight_cards {
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 1566px; }
  .fights .fight_cards a.card1 {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Segoe UI";
    font-style: normal;
    position: relative;
    display: inline-block;
    height: 445px;
    width: 360px;
    cursor: pointer;
    border-radius: 10px; }
    .fights .fight_cards a.card1:hover {
      color: #d11010;
      text-decoration: none; }
    .fights .fight_cards a.card1 div.top {
      position: relative;
      display: inline-block;
      height: 240px;
      width: 360px;
      border-radius: 10px;
      overflow: hidden;
      -webkit-background-size: contain;
      background-size: contain; }
    .fights .fight_cards a.card1 div.bottom {
      position: relative;
      border-radius: 10px;
      display: inline-block;
      height: 200px;
      width: 365px;
      padding: 25px;
      background-color: #fff; }
      .fights .fight_cards a.card1 div.bottom p.clock__text {
        bottom: 5px;
        color: #9fa3a7;
        display: inline-block;
        font-size: 10px;
        left: -74px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card1 div.bottom p.clock__text::before {
          background-image: url("../img/icons/cards_clock_icon_grey.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 14px;
          left: -32px;
          position: absolute;
          width: 14px; }
      .fights .fight_cards a.card1 div.bottom p.eye__text {
        bottom: 5px;
        color: #9fa3a7;
        display: inline-block;
        font-size: 10px;
        left: 90px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card1 div.bottom p.eye__text::before {
          background-image: url("../img/icons/cards_eye_icon_grey.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 13px;
          left: -36px;
          position: absolute;
          width: 18px; }
      .fights .fight_cards a.card1 div.bottom h2 {
        font-family: "Segoe UI";
        font-size: 22px;
        font-style: normal;
        color: #000;
        text-align: left;
        margin: 0 !important;
        padding: 0 !important; }
      .fights .fight_cards a.card1 div.bottom p {
        font-family: "Segoe UI";
        font-size: 14px;
        font-style: normal;
        color: #9fa3a7;
        text-align: left;
        padding-top: 15px; }
  .fights .fight_cards a.card2 {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Segoe UI";
    font-style: normal;
    position: relative;
    display: inline-block;
    height: 445px;
    width: 360px;
    cursor: pointer; }
    .fights .fight_cards a.card2:hover {
      color: #d11010;
      text-decoration: none; }
    .fights .fight_cards a.card2 div.top {
      border-radius: 10px;
      position: relative;
      display: inline-block;
      height: 240px;
      width: 360px; }
    .fights .fight_cards a.card2 div.bottom {
      border-radius: 10px;
      position: relative;
      display: inline-block;
      height: 200px;
      width: 365px;
      padding: 25px;
      background-color: #292929; }
      .fights .fight_cards a.card2 div.bottom p.clock__text {
        bottom: 5px;
        color: #9fa3a7;
        display: inline-block;
        font-size: 10px;
        left: -74px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card2 div.bottom p.clock__text::before {
          background-image: url("../img/icons/cards_clock_icon_white.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 14px;
          left: -32px;
          position: absolute;
          width: 14px; }
      .fights .fight_cards a.card2 div.bottom p.eye__text {
        bottom: 5px;
        color: #fff;
        display: inline-block;
        font-size: 10px;
        left: 90px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card2 div.bottom p.eye__text::before {
          background-image: url("../img/icons/cards_eye_icon_greycard.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 13px;
          left: -36px;
          position: absolute;
          width: 18px; }
      .fights .fight_cards a.card2 div.bottom h2 {
        font-family: "Segoe UI";
        font-size: 22px;
        font-style: normal;
        color: #9fa3a7;
        text-align: left;
        margin: 0 !important;
        padding: 0 !important; }
      .fights .fight_cards a.card2 div.bottom p {
        font-family: "Segoe UI";
        font-size: 14px;
        font-style: normal;
        color: #9fa3a7;
        text-align: left;
        padding-top: 15px; }
  .fights .fight_cards a.card3 {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Segoe UI";
    font-style: normal;
    position: relative;
    display: inline-block;
    height: 445px;
    width: 360px;
    cursor: pointer; }
    .fights .fight_cards a.card3:hover {
      color: #d11010;
      text-decoration: none; }
    .fights .fight_cards a.card3 div.top {
      position: relative;
      display: inline-block;
      height: 240px;
      width: 360px;
      border-radius: 10px; }
    .fights .fight_cards a.card3 div.bottom {
      position: relative;
      display: inline-block;
      height: 200px;
      width: 365px;
      padding: 25px;
      background-color: #d11010;
      border-radius: 10px;
      border-radius: 10px; }
      .fights .fight_cards a.card3 div.bottom p.clock__text {
        bottom: 5px;
        color: #fff;
        display: inline-block;
        font-size: 10px;
        left: -74px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card3 div.bottom p.clock__text::before {
          background-image: url("../img/icons/cards_clock_icon_white.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 14px;
          left: -32px;
          position: absolute;
          width: 14px; }
      .fights .fight_cards a.card3 div.bottom p.eye__text {
        bottom: 5px;
        color: #fff;
        display: inline-block;
        font-size: 10px;
        left: 90px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card3 div.bottom p.eye__text::before {
          background-image: url("../img/icons/cards_eye_icon_white.png");
          background-position: 0 0;
          bottom: 1px;
          color: #fff;
          content: "";
          display: inline-block;
          height: 13px;
          left: -36px;
          position: absolute;
          width: 18px; }
      .fights .fight_cards a.card3 div.bottom h2 {
        font-family: "Segoe UI";
        font-size: 22px;
        font-style: normal;
        color: #fff;
        text-align: left;
        margin: 0 !important;
        padding: 0 !important; }
      .fights .fight_cards a.card3 div.bottom p {
        font-family: "Segoe UI";
        font-size: 14px;
        font-style: normal;
        color: #fff;
        text-align: left;
        padding-top: 15px; }
  .fights .fight_cards .line2 {
    margin-top: 20px; }
  .fights .fight_cards a.card-wide {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Segoe UI";
    font-style: normal;
    position: relative;
    display: inline-block;
    height: 445px;
    width: 745px;
    cursor: pointer;
    border-radius: 10px; }
    .fights .fight_cards a.card-wide:hover {
      color: #d11010;
      text-decoration: none; }
    .fights .fight_cards a.card-wide div.top {
      position: relative;
      display: inline-block;
      height: 240px;
      width: 745px;
      border-radius: 10px; }
    .fights .fight_cards a.card-wide div.bottom {
      border-radius: 10px;
      position: relative;
      display: inline-block;
      height: 200px;
      width: 745px;
      padding: 25px;
      background-color: #fff;
      /*			border-bottom-left-radius: 10px;
      			border-bottom-right-radius: 10px;*/ }
      .fights .fight_cards a.card-wide div.bottom p.clock__text {
        bottom: -19px;
        color: #9fa3a7;
        display: inline-block;
        font-size: 10px;
        left: -263px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card-wide div.bottom p.clock__text::before {
          background-image: url("../img/icons/cards_clock_icon_grey.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 14px;
          left: -32px;
          position: absolute;
          width: 14px; }
      .fights .fight_cards a.card-wide div.bottom p.eye__text {
        bottom: -20px;
        color: #9fa3a7;
        display: inline-block;
        font-size: 10px;
        left: 290px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards a.card-wide div.bottom p.eye__text::before {
          background-image: url("../img/icons/cards_eye_icon_grey.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 13px;
          left: -36px;
          position: absolute;
          width: 18px; }
      .fights .fight_cards a.card-wide div.bottom h2 {
        font-family: "Segoe UI";
        font-size: 22px;
        font-style: normal;
        color: #000;
        text-align: left;
        margin: 0 !important;
        padding: 0 !important; }
      .fights .fight_cards a.card-wide div.bottom h2 {
        font-family: "Segoe UI";
        font-size: 22px;
        font-style: normal;
        color: #000;
        text-align: left;
        margin: 0 !important;
        padding: 0 !important; }
      .fights .fight_cards a.card-wide div.bottom p {
        font-family: "Segoe UI";
        font-size: 14px;
        font-style: normal;
        color: #9fa3a7;
        text-align: left;
        padding-top: 15px; }

/* ------------   line2  end ------------ */
.fights .fight_cards {
  overflow: auto;
  margin-bottom: 160px; }
  .fights .fight_cards .line3 {
    margin-top: 20px; }
  .fights .fight_cards .card-image-text {
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    font-family: "Segoe UI";
    font-style: normal;
    /*&:hover {
    	color: $color-red;
    	text-decoration: none;
    }*/ }
    .fights .fight_cards .card-image-text .card-all {
      position: relative;
      height: 450px;
      display: inline-block;
      width: 365px;
      cursor: pointer;
      padding: 25px;
      background-color: #fff;
      border-radius: 10px; }
      .fights .fight_cards .card-image-text .card-all .img-card {
        text-align: center;
        width: 127px;
        height: 253px;
        position: absolute;
        display: block;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto; }
        .fights .fight_cards .card-image-text .card-all .img-card p.anytext {
          position: relative;
          display: inline-block;
          right: 80px;
          top: 27px;
          padding: 0;
          margin: 0;
          color: #9fa3a7;
          font-family: inherit; }
      .fights .fight_cards .card-image-text .card-all h2 {
        position: absolute;
        display: block;
        font-family: "Segoe UI";
        font-size: 36px;
        font-style: normal;
        color: #212121;
        text-align: center;
        z-index: 99;
        margin: 0 auto;
        padding: 0 !important;
        width: 250px;
        height: 250px;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0; }
      .fights .fight_cards .card-image-text .card-all p.clock__text {
        bottom: -32.0em;
        color: #9fa3a7;
        display: inline-block;
        font-size: 10px;
        left: -66px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards .card-image-text .card-all p.clock__text::before {
          background-image: url("../img/icons/cards_clock_icon_grey.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 14px;
          left: -32px;
          position: absolute;
          width: 14px; }
      .fights .fight_cards .card-image-text .card-all p.eye__text {
        bottom: -32em;
        color: #9fa3a7;
        display: inline-block;
        font-size: 10px;
        left: 85px;
        margin: 0;
        padding: 0;
        position: relative; }
        .fights .fight_cards .card-image-text .card-all p.eye__text::before {
          background-image: url("../img/icons/cards_eye_icon_grey.png");
          background-position: 0 0;
          bottom: 1px;
          color: #9fa3a7;
          content: "";
          display: inline-block;
          height: 13px;
          left: -36px;
          position: absolute;
          width: 18px; }

section.our_treners {
  height: auto;
  width: 100%;
  position: relative;
  overflow: visible;
  text-align: center;
  color: #fff;
  margin-bottom: 195px; }
  section.our_treners h1 {
    margin: 0;
    padding: 0;
    margin-top: 160px;
    margin-bottom: 50px; }
  section.our_treners .wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%; }
    section.our_treners .wrapper img {
      display: inline-block;
      max-width: 100%;
      height: 284px; }
  section.our_treners .container .row .col-md-3 {
    overflow: visible;
    /*height:100%;
    width:100%;*/ }
  section.our_treners .desc {
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 100%;
    height: 284px;
    background-color: #f5f5f5;
    font-family: "Segoe UI";
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px; }
    section.our_treners .desc h2 {
      font-size: 20px;
      padding: 0;
      margin: 0;
      color: #353535;
      font-weight: bold; }
    section.our_treners .desc p.desc__spec {
      font-size: 8.85px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.8;
      color: #9fa3a7;
      margin-top: 15px;
      font-weight: bold; }
    section.our_treners .desc p.desc__txt {
      font-size: 12px;
      color: #9fa3a7;
      line-height: 1.8; }
    section.our_treners .desc p.desc__mail {
      position: relative;
      padding-left: 10px;
      font-size: 12px;
      color: #212121;
      line-height: 1.8; }
      section.our_treners .desc p.desc__mail::before {
        position: relative;
        background-image: url("../img/icons/icon_mail.png");
        background-position: 0 0;
        bottom: -1px;
        color: #9fa3a7;
        content: "";
        display: inline-block;
        height: 11px;
        left: -11px;
        width: 14px; }
  section.our_treners .desc.red {
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 100%;
    height: 284px;
    background-color: #d11010;
    font-family: "Segoe UI";
    padding: 45px; }
    section.our_treners .desc.red h2 {
      font-size: 20px;
      padding: 0;
      margin: 0;
      color: #fefefe;
      font-weight: bold; }
    section.our_treners .desc.red p.desc__spec {
      font-size: 8.85px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.8;
      color: #fefefe;
      margin-top: 15px;
      font-weight: bold; }
    section.our_treners .desc.red p.desc__txt {
      font-size: 12px;
      color: #fefefe;
      line-height: 1.8; }
    section.our_treners .desc.red p.desc__mail {
      position: relative;
      padding-left: 10px;
      font-size: 12px;
      color: #212121;
      line-height: 1.8; }
      section.our_treners .desc.red p.desc__mail::before {
        position: relative;
        background-image: url("../img/icons/icon_mail_white.png");
        background-position: 0 0;
        bottom: -1px;
        content: "";
        display: inline-block;
        height: 11px;
        left: -11px;
        width: 14px; }
  section.our_treners .desc.grey {
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 100%;
    height: 284px;
    background-color: #d2dde4;
    font-family: "Segoe UI";
    padding: 45px; }
    section.our_treners .desc.grey h2 {
      font-size: 20px;
      padding: 0;
      margin: 0;
      color: #353535;
      font-weight: bold; }
    section.our_treners .desc.grey p.desc__spec {
      font-size: 8.85px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.8;
      color: #9fa3a7;
      margin-top: 15px;
      font-weight: bold; }
    section.our_treners .desc.grey p.desc__txt {
      font-size: 12px;
      color: #9fa3a7;
      line-height: 1.8; }
    section.our_treners .desc.grey p.desc__mail {
      position: relative;
      padding-left: 10px;
      font-size: 12px;
      color: #212121;
      line-height: 1.8; }
      section.our_treners .desc.grey p.desc__mail::before {
        position: relative;
        background-image: url("../img/icons/icon_mail_white.png");
        background-position: 0 0;
        bottom: -1px;
        content: "";
        display: inline-block;
        height: 11px;
        left: -11px;
        width: 14px; }
  section.our_treners .desc.dark {
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 100%;
    height: 284px;
    padding: 20px;
    background-color: #212121;
    font-family: "Segoe UI"; }
    section.our_treners .desc.dark h2 {
      font-size: 20px;
      padding: 0;
      margin: 0;
      color: #fff;
      font-weight: bold; }
    section.our_treners .desc.dark p.desc__spec {
      font-size: 8.85px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.8;
      color: #9fa3a7;
      margin-top: 15px;
      font-weight: bold; }
    section.our_treners .desc.dark p.desc__txt {
      font-size: 12px;
      color: #f5f5f5;
      line-height: 1.8; }
    section.our_treners .desc.dark p.desc__mail {
      position: relative;
      padding-left: 10px;
      font-size: 12px;
      color: #fff;
      line-height: 1.8; }
      section.our_treners .desc.dark p.desc__mail::before {
        position: relative;
        background-image: url("../img/icons/icon_mail.png");
        background-position: 0 0;
        bottom: -1px;
        color: #9fa3a7;
        content: "";
        display: inline-block;
        height: 11px;
        left: -11px;
        width: 14px; }

section.plan {
  padding-top: 100px;
  height: auto;
  width: 100%;
  color: #fff;
  position: relative;
  background-color: #0d0d0d;
  text-align: center; }
  section.plan .head__txt {
    text-align: center;
    margin-bottom: 118px; }
  section.plan .plann {
    display: block;
    position: relative;
    margin-bottom: 47px;
    height: auto;
    width: 100%;
    border: 1px solid white;
    padding: 30px 50px;
    line-height: 120%;
    font-family: "Segoe UI bold";
    overflow: visible; }
    section.plan .plann .plann__left, section.plan .plann .plann__right {
      display: inline-block;
      font-size: 25px !important; }
    section.plan .plann h2 {
      display: inline-block;
      text-align: justify; }
    section.plan .plann p.plann__txt {
      font-family: "Segoe UI";
      font-size: 20px !important;
      font-weight: normal; }
  section.plan .punch {
    display: inline-block;
    position: relative;
    background-image: url("../img/punching-bag.png");
    width: 199px;
    height: 1174px; }
  section.plan .circle__gradient2 {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 1515px;
    background: radial-gradient(circle farthest-side at center right, #1e0909 0%, #1b0808 30%, #130606 60%, #0e0404 80%, #0d0d0d);
    overflow: visible; }

section.feedback {
  background-color: #000;
  height: 615px;
  width: 100%;
  margin-top: 115px;
  color: #fff; }
  section.feedback .head__txt {
    font-size: 80px;
    font-family: "Segoe UI semibold";
    line-height: 1.4;
    margin-bottom: 60px; }
  section.feedback div.contacts {
    display: inline-block;
    position: relative; }
    section.feedback div.contacts .contacts__tel {
      margin-left: 5px;
      font-size: 14px;
      font-family: "Segoe UI";
      color: #fff; }
      section.feedback div.contacts .contacts__tel::before {
        position: relative;
        background-image: url("../img/icons/contacts_tel.png");
        background-position: 0 0;
        bottom: -1px;
        content: "";
        display: inline-block;
        height: 15px;
        left: -11px;
        width: 15px; }
    section.feedback div.contacts .contacts__mail {
      color: #fff;
      margin-left: 5px;
      font-size: 14px;
      font-family: "Segoe UI"; }
      section.feedback div.contacts .contacts__mail::before {
        position: relative;
        background-image: url("../img/icons/icon_mail_bottom.png");
        background-position: 0 0;
        bottom: -1px;
        content: "";
        display: inline-block;
        height: 12px;
        left: -11px;
        width: 15px; }

.form_feedback {
  display: block;
  visibility: visible; }
  .form_feedback * div, .form_feedback input {
    display: inline-block;
    font-size: 26px;
    font-family: "Segoe UI"; }
  .form_feedback * label {
    width: 40%;
    font-size: 26px;
    font-family: "Segoe UI"; }
  .form_feedback input {
    background-color: #000;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff; }
  .form_feedback input:required:invalid {
    background-image: url("../img/icons/icon_invalid.png");
    background-repeat: no-repeat;
    background-position: 95%;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: inherit;
    outline-color: transparent;
    box-shadow: none; }
  .form_feedback input:required:valid {
    background-image: url("../img/icons/icon_ok.png");
    background-repeat: no-repeat;
    background-position: 95%;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: inherit;
    outline-color: transparent;
    box-shadow: none;
    font-size: 26px; }
  .form_feedback textarea {
    background-color: #000;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 26px;
    font-family: "Segoe UI"; }
  .form_feedback .feedback__txt {
    font-size: 26px;
    font-family: "Segoe UI"; }
    .form_feedback .feedback__txt span {
      color: #d11010; }
  .form_feedback .feedback__submit {
    width: 50%;
    background-color: #d11010;
    border: none;
    height: 60px;
    border-radius: 30px;
    padding-bottom: 15px;
    margin-top: 15px; }

.err {
  border: 1px solid #750d07;
  padding: 10px;
  background: #000;
  text-align: left;
  border-radius: 3px;
  color: #fff; }

.ok {
  border: 1px #32ab2e solid;
  margin-bottom: 15px;
  padding: 10px;
  background: #000000;
  text-align: center;
  border-radius: 3px;
  color: #fff; }

.hidden {
  opacity: 0 !important; }

.visible {
  opacity: 1 !important; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

::-moz-selection {
  color: red;
  background-color: #fff; }

::selection {
  color: red;
  background-color: #fff; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #d11010; }

body input:required:valid,
body textarea:required:valid {
  color: #ffffff; }

body {
  opacity: 1;
  overflow-x: hidden;
  background-color: #000; }

html {
  background-color: #000; }

html, body {
  height: 100% !important;
  width: 100% !important; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "Segoe UI semibold";
  overflow-x: hidden;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  a.card-wide {
    display: none; } }
/**/
section.plan .plann p.plann__txt {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: normal; }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  section.plan .plann p.plann__txt {
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: normal; }

  .bg-gloves {
    height: 200px; }
    .bg-gloves .box__gloves {
      height: 130px;
      max-width: 100%; }

  .top_container .head__menu .main__contacts {
    font-size: 1em;
    margin-top: 120px; }

  .main_bg {
    margin-top: 100px; } }
#logo {
  display: block;
  position: absolute;
  top: 24vh;
  left: 50%;
  height: 360px;
  margin-left: -170px;
  max-width: 100%;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain; }
  #logo .inner__text {
    color: #fff;
    font-family: "Segoe UI light";
    font-size: 21.5px;
    line-height: 1.1;
    max-width: 300px;
    padding-left: 15px;
    padding-top: 18em;
    text-align: center; }

/* Custom, iPhone Retina */
/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**/
/* ------------   custom styles   ------------ */

/*# sourceMappingURL=main.css.map */
